<a href="https://colab.research.google.com/github/vishnu-777/python-datascience/blob/main/panda1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [106]:

import numpy as np
import pandas as pd
cardata=pd.read_csv('/content/toyota.csv',index_col=0)

dupdata=cardata.copy(deep=True) #copy
print(dupdata) 
print(dupdata.index) #to get rows
print(dupdata.columns)  #to get columns
print(dupdata.size)  
print(dupdata.shape)
print(dupdata.memory_usage())  #memory usage

print("\nfirst 5 rows are ",cardata.head(5))
print("\nlast 5 rows are ",cardata.tail(5))

print("\naccessing values ",dupdata.at[1,'Price'])

print(dupdata.iat[3,2]) #accessing datas

print(dupdata.loc[3,'Age'])  #accessing data

      Price   Age     KM FuelType   HP  MetColor  Automatic    CC  Doors  \
0     13500  23.0  46986   Diesel   90       1.0          0  2000  three
1     13750  23.0  72937   Diesel   90       1.0          0  2000      3
2     13950  24.0  41711   Diesel   90       NaN          0  2000      3
3     14950  26.0  48000   Diesel   90       0.0          0  2000      3
4     13750  30.0  38500   Diesel   90       0.0          0  2000      3
...     ...   ...    ...      ...  ...       ...        ...   ...    ...
1431   7500   NaN  20544   Petrol   86       1.0          0  1300      3
1432  10845  72.0     ??   Petrol   86       0.0          0  1300      3
1433   8500   NaN  17016   Petrol   86       0.0          0  1300      3
1434   7250  70.0     ??      NaN   86       1.0          0  1300      3
1435   6950  76.0      1   Petrol  110       0.0          0  1600      5

      Weight
0       1165
1       1165
2       1165
3       1165
4       1170
...      ...
1431    1025
1432    1015
1433    1015
1434    1015
1435    1114

[1436 rows x 10 columns]
Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            1426, 1427, 1428, 1429, 1430, 1431, 1432, 1433, 1434, 1435],
           dtype='int64', length=1436)
Index(['Price', 'Age', 'KM', 'FuelType', 'HP', 'MetColor', 'Automatic', 'CC',
       'Doors', 'Weight'],
      dtype='object')
14360
(1436, 10)
Index        11488
Price        11488
Age          11488
KM           11488
FuelType     11488
HP           11488
MetColor     11488
Automatic    11488
CC           11488
Doors        11488
Weight       11488
dtype: int64

first 5 rows are     Price   Age     KM FuelType  HP  MetColor  Automatic    CC  Doors  Weight
0  13500  23.0  46986   Diesel  90       1.0          0  2000  three    1165
1  13750  23.0  72937   Diesel  90       1.0          0  2000      3    1165
2  13950  24.0  41711   Diesel  90       NaN          0  2000      3    1165
3  14950  26.0  48000   Diesel  90       0.0          0  2000      3    1165
4  13750  30.0  38500   Diesel  90       0.0          0  2000      3    1170

last 5 rows are        Price   Age     KM FuelType   HP  MetColor  Automatic    CC Doors  \
1431   7500   NaN  20544   Petrol   86       1.0          0  1300     3
1432  10845  72.0     ??   Petrol   86       0.0          0  1300     3
1433   8500   NaN  17016   Petrol   86       0.0          0  1300     3
1434   7250  70.0     ??      NaN   86       1.0          0  1300     3
1435   6950  76.0      1   Petrol  110       0.0          0  1600     5

      Weight
1431    1025
1432    1015
1433    1015
1434    1015
1435    1114

accessing values  13750
48000
26.0